body {
    background-color:#08454E;
  }
  .bg-1 {
    background-color: #FFFFFF; /* white */
    color: #484848;
  }

  .greenTextOverride{
    color: #0E7E9F;
  }

  .thick {
    font-weight: bold;
  }

  .vue-form {
      font-size: 16px;
      padding: 15px 30px;
      /* margin: 50px auto; */
      width: 500px;
  }

  .vue-form div {
      position: relative;
      margin: 20px 0;
  }
  .vue-form .label {
      display: block;
      font-weight: bold;
  }
  .reveal-if-active {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      font-size: 16px;
      transform: scale(0.8);
      transition: 0.5s;
  }
  .reveal-if-active label {
      display: block;
      margin: 0 0 3px 0;
  }
  .reveal-if-active input[type=text] {
      width: 100%;
  }
  input[type=radio]:checked ~ .reveal-if-active, input[type=checkbox]:checked ~ .reveal-if-active {
      opacity: 1;
      max-height: 100px;
      padding: 10px 20px;
      transform: scale(1);
      overflow: visible;
  }

  .element {
      border-left: thick solid #ACACAC;
      padding-left: 5px;
  }

  .elementTop {
      border-top: thick solid #0E7E9F;
      padding: 15px;
      margin: 5px 2px;
  }

  .fa {
      padding: 9px;
      font-size: 20px;
      text-align: center;
      vertical-align:bottom;
      width: 40px;
      height: 40px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
  }

  .fa-facebook-square {
      background: #3B5998;
      color: white;
  }

  .fa-twitter {
      background: #55ACEE;
      color: white;
  }

  .fa-linkedin-square {
      background: #007bb5;
      color: white;
  }

  .fa-youtube-play {
      background: #bb0000;
      color: white;
  }